<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> <!-- Your head content -->

<body>
    <div id="wrapper">
        <%- include('../partials/header') %> <!-- Header -->
        <%- include('../partials/navigation') %> <!-- Navigation -->

        <main>
            <%- body %> <!-- Main page content -->
        </main>

        <%- include('../partials/footer') %> <!-- Footer -->
    </div>
</body>
</html>
